
.app {
  height: 100vh;
  display: flex;
}

.header {  
  background-color: #F2F2F2;
}

.article {
  display: flex;
  flex-direction: column;
}

.wrapper {
  min-height: 50px;
  display: flex;
  align-items: flex-end;
  padding: 0 32px;
}


.options {  
  display: flex;
  align-items: center;
  height: 100%;
}

.sidebar {
  background-color: #F8F8F8;
  padding: 34px 16px;
}


.logotype {
  display: block;
  margin: 0 auto;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 510px;    
  padding: 34px 0;
}

.main {
  background-color: #F2F2F2;
  padding: 0 32px;
}

.news,
.channels {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.headlines {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}


.news {
  position: relative;
  padding-bottom: 27px;
}
