.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 304px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas: 
    "s h"
    "s m";
}

.header {
  grid-area: h;
  background-color: #F2F2F2;
}

.sidebar {
  grid-area: s;
  background-color: #F8F8F8;
  padding: 34px 16px;
}

.logotype {
  display: block;
  margin: 0 auto;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 510px;    
  padding: 34px 0;
}

.main {
  grid-area: m;
  background-color: #F2F2F2;
  padding: 0 32px;
}

.news,
.channels {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.headlines {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.news {
  padding-bottom: 27px;
}